<a href="https://colab.research.google.com/github/AudryBarimbane/pricePrediction/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Description : this program uses an artificial recurrent  neural network called Long Short Term Memory(LSTM)
# to predict the closing stock price  of a corporation (Apple inc.) using the past 60 day stock price

In [5]:
#import the librairies 
import math 
import pandas_datareader as web 
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler 
from keras.models import Sequential 
from keras.layers import Dense,LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [6]:
#Get the stock quote 
df = web.DataReader('AAPL',data_source='yahoo',start='2012-01-01',end='2019-12-27')
#show the data 
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-01-03  14.732142  14.607142  14.621428  14.686786  302220800.0  12.691425
2012-01-04  14.810000  14.617143  14.642858  14.765715  260022000.0  12.759631
2012-01-05  14.948215  14.738214  14.819643  14.929643  271269600.0  12.901293
2012-01-06  15.098214  14.972143  14.991786  15.085714  318292800.0  13.036158
2012-01-09  15.276786  15.048214  15.196428  15.061786  394024400.0  13.015480
...               ...        ...        ...        ...          ...        ...
2019-12-20  70.662498  69.639999  70.557503  69.860001  275978000.0  69.381348
2019-12-23  71.062500  70.092499  70.132500  71.000000   98572000.0  70.513535
2019-12-24  71.222504  70.730003  71.172501  71.067497   48478800.0  70.580566
2019-12-26  72.495003  71.175003  71.205002  72.477501   93121200.0  71.980911
2019-12-27  73.492500  72.029999  72.779999  72.449997  146266000.0  71.953598

[2010 rows x 6 columns]